:root {
    --pale-dogwood: #d3ab9eff;
    --pale-dogwood-2: #eac9c1ff;
    --champagne-pink: #ebd8d0ff;
    --snow: #fffbffff;
    --white: #fefeffff;
}

/* Autres styles globaux */
body {
    margin: 0;
    padding: 0;
    background-color: var(--white); /* Fond blanc */
    font-family: sans-serif;
}
